.loading {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingSpinner {
  width: 80px;
  height: 80px;
  border: 3px solid lightgray;
  border-top: 3px solid white;
  border-radius: 50%;
  animation: loadingAnim 1s linear infinite;
}

@keyframes loadingAnim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
